.training-split-option__control {
  display: flex;
  height: var(--jw-icon-circle-sm);
  width: var(--jw-icon-circle-sm);
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 2px solid #123047;
  border-radius: 999px;
  color: #fff;
}
